---
import { t, changeLanguage } from "i18next";
import { Image } from "astro:assets";
import avatar from "../../../public/avatar.webp";
import Social from "../../components/Social.astro";

changeLanguage("es");
---

<section id="introduction">
  <div class="flex justify-start pt-5 items-center">
    <Image
      src={avatar}
      loading="eager"
      alt="Josué García Asensi"
      class="w-24 h-24 rounded-full ring-2 ring-black dark:ring-white"
    />
    <div class="ml-4">
      <h2 class="text-2xl font-bold text-blue-600 dark:text-blue-400">
        Josué GA
      </h2>
      <p class="text-sm">
        {t("intro.rol")}
      </p>
      <Social />
    </div>
  </div>
  
  <div class="mt-5 text-base">
    <p>
      {t("intro.desc1")}
    </p>
    <br />
    <p>
      {t("intro.desc2")}
    </p>
  </div>
</section>