---
import TimeLineExperience from "../../components/TimeLineExperience.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="studies" class="flex flex-col">
    <div>
      <h2 class="text-2xl font-bold mb-10">{t('std.title')}</h2>
    </div>
    <div class="ml-5">
      <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <TimeLineExperience
          titulo={t('std.master.title')}
          icono="cpu"
          fecha={t('std.master.date')}
          rol=""
        >
          <p
            class="mb-4 text-base font-normal text-gray-600 dark:text-gray-300"
          >
          {t('std.master')}
          </p>
        </TimeLineExperience>

        <TimeLineExperience
          titulo={t('std.grado.title')}
          icono="laptop"
          fecha={t('std.grado.date')}
          rol=""
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            {t('std.grado')}
          </p>
        </TimeLineExperience>
        <TimeLineExperience
          titulo={t('std.bachillerato.title')}
          icono="building"
          fecha={t('std.bachillerato.date')}
          rol=""
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            {t('std.bachillerato')}
          </p>
        </TimeLineExperience>
        <TimeLineExperience
          titulo={t('std.eso.title')}
          icono="building"
          fecha={t('std.eso.date')}
          rol=""
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            {t('std.eso')}
          </p>
        </TimeLineExperience>
      </ol>
    </div>
  </section>