---
import { languages, getActualLang, getCurrentTranslations } from './ui';

// Obtener las traducciones actuales
const t = getCurrentTranslations();
const actualLang = getActualLang();
---

<div class="language-switcher">
  <select id="language-select" class="border border-gray-300 rounded-md p-1 text-black">
    {Object.entries(languages).map(([langKey, langName]) => (
      <option value={langKey} selected={langKey === actualLang}>{langName}</option>
    ))}
  </select>
</div>

<script>
import { setActualLang } from "./ui";

  document.addEventListener('DOMContentLoaded', () => {
    const selectElement = document.getElementById('language-select') as HTMLSelectElement;
    const currentLang = localStorage.getItem('language') || 'es';

    if (selectElement) {
        selectElement.value = currentLang;

        selectElement.addEventListener('change', (event: any) => {
            const newLang = event.target!.value;
            
            // Guardar el nuevo idioma y cambiarlo sin recargar la p치gina
            localStorage.setItem('language', newLang);
            setActualLang(newLang);

            // Actualizar la p치gina din치micamente (sin recargar)
            window.location.reload();  // Recargar la p치gina para aplicar el idioma
        });
    }
  });
</script>
